$color-border-gray:#dcdacb;
$color-copyright: #73726c;

$padding-top--16: 16px;
$padding-top--24: 24px;
$padding-top--64: 64px;

$padding-bottom--8: 8px;
$padding-bottom--16: 16px;
$margin-bottom--24: 24px;
$padding-bottom--48: 48px;

$padding-left--32: 32px;
$padding-left--36: 36px;

$padding-right--32: 32px;
$padding-right--40: 40px;

$padding--8--0: 0px 8px;
$padding--24--0: 24px 0px;
$padding--0--32: 32px;
$padding--16--32: 16px 32px;

$margin-right--16: 16px;
$margin-right--24: 24px;

$line-height--1-4: 1.4;
$line-height--1-2: 1.2;

$letter-spacing--0-2: -0.2px;

$form-label-clip: rect(1px, 1px, 1px, 1px);

footer {
    .footer-banner {
        .footer-section-banner {
            padding: $padding--16--32;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $color-white;
            border-top: $border-size-default solid $color-border-gray;

            .banner-button-container {
                flex-shrink: 0;
            }
        }
    }

    .footer-operate {
        background: $color-white;
        border-top: $border-size-default solid $color-border-gray;

        .ufb-notice--notice-row--3tUOv {
            .txt {
                padding: $padding--24--0;

                a {
                    color: $color-secondary;
                    text-decoration: none;
                }
            }
        }

        .image-operate {
            img {
                margin-right: $margin-right--24;
                margin-bottom: $margin-bottom--24;
                vertical-align: middle;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .footer-section-main {
        background: $color-white;
        border-top: $border-size-default solid $color-border-gray;
        padding-top: $padding-top--24;
        padding: $padding--0--32;

        .links-and-locale {
            display: flex;

            .locale-select-container {
                padding: 0;
                order: 1;
                flex-shrink: 0;
                margin-left: auto;
            }

            .unstyled-list {
                list-style: none;
                margin: 0;
                padding: 0;
                max-width: none;
            }

            .link-column {
                flex-basis: 256px;
                margin-right: $margin-right--16;
                margin-bottom: 0;

                li {
                    padding-left: 0;

                    a {
                        color: $color-secondary;
                        text-decoration: none;
                        font-weight: $font-weight-medium;
                        line-height: $line-height--1-4;
                        display: block;
                    }
                }
            }
        }

        .locale-select-container {
            padding: 0;
            order: 1;
            flex-shrink: 0;
            margin-left: auto;

            .form-group {
                max-width: $max-width-600;
            }
        }

        .form-label {
            display: flex;
            align-items: center;
            margin: 0;
            padding-bottom: $padding-bottom--8;
            min-height: $min-height--28;
        }

        .sr-only {
            position: absolute;
            height: $height--1;
            width: $width--1;
            overflow: hidden;
            clip: $form-label-clip;
        }

        .select-container {
            position: relative;
            min-width: $min-width--240;
            max-width: $max-width-600;

            .select-icon-container {
                pointer-events: none;
                display: flex;
                align-items: center;
                position: absolute;
                top: 0;
                height: $height-full;
                padding: $padding--0--8;


                &.select-icon-left {
                    left: 0;
                    justify-content: flex-end;
                    width: $width--36;
                }

                &.select-icon-right {
                    right: 0;
                    width: $width--36;
                }
            }
        }

        .select {
            background: $color-white;
            border-radius: $border-radius--4;
            border: $border-size-default solid $color-border-dark;
            cursor: pointer;
            display: block;
            width: $width-full;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            height: $height--40;
            padding-left: $padding-left--36;
            padding-right: $padding-right--40;
        }

        .logo-and-copyright {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: $padding-bottom--64;
            padding-bottom: $padding-bottom--48;

            .logo-container {
                display: flex;
                align-items: center;
                padding: 0;

                img {
                    max-width: $max-width-110;
                }
            }

            .copyright-container {
                padding: 0;
                height: $height-full;
                top: 50%;
                color: $color-copyright;
                font-weight: $font-weight-medium;
                line-height: $line-height--1-4;
                font-size: $font-size-sm;
            }
        }
    }
}