.header-top {
    align-items: center;
    display: flex;
    background: #fff;
    height: 7.2rem;
    padding: 0 1.6rem;
    position: relative;
    z-index: 1010;

    .logo {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        padding-right: 1.2rem;
        max-width: 122px;
    }

    .nav-category {
        font-weight: 400;
        line-height: 1.4;
        font-size: 1.4rem;

        p {
            padding: 0 1.2rem;
            margin: 1.2rem 0;
        }
    }

    .box-search {
        flex-grow: 1;
        height: 4.8rem;
        border: 1px solid #989586;
        border-radius: 9999px;
        background-color: #fbfbf8;
        margin: 0 1.2rem;

        .udlite-search-form {
            display: flex;
            align-items: center;
            height: 100%;
            flex-direction: row-reverse;

            .udlite-text-input {
                border-radius: 4px;
                border: 1px solid #989586;
                display: block;
                padding: 0 1.6rem;
                min-width: 24rem;
                width: 100%;
                background-color: transparent;
                padding-left: .4rem;
                border: 0;
                flex: 1;
                min-width: 0;
                height: 4rem;
            }

            .udlite-form-label {
                display: flex;
                align-items: center;
                margin: 0;
                padding-bottom: .8rem;
                min-height: 2.8rem;
                position: absolute !important;
                height: 1px;
                width: 1px;
                overflow: hidden;
                clip: rect(1px, 1px, 1px, 1px);
            }
        }
    }

    .teach-udemy,
    .business-udemy {
        a {
            color: #3c3b37;
            padding: 0 1.2rem;
            margin: 1.2rem 0;
            position: relative;
            align-items: center;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            display: inline-flex;
            min-width: 10rem;
            padding: 0 1.2rem;
            justify-content: center;
            user-select: none;
            vertical-align: bottom;
            white-space: nowrap;
            font-size: 1.4rem;
        }
    }

    .business-udemy {
        @media (max-width: 67.5em) {
            display: none;
        }
    }

    .teach-udemy {
        @media (max-width: 57.5em) {
            display: none;
        }
    }

    .udlite_btn {
        position: relative;
        align-items: center;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        display: inline-flex;
        min-width: 10rem;
        padding: 0 1.2rem;
        justify-content: center;
        user-select: none;
        vertical-align: bottom;
        white-space: nowrap;
        font-weight: 700;
        height: 4rem;
    }

    .btn-login {
        .udlite_btn {
            color: #0f7c90;
            background-color: transparent;
            border: 1px solid #2896a9;
        }
    }

    .btn-sign-up {
        margin-left: .8rem;

        .udlite_btn {
            background-color: #0f7c90;
            color: #fff;
            height: 4rem;
        }
    }


}