.input-text {
    border-radius: $border-radius--4;
    border: $border-size-default solid $color-silver;
    display: block;
    padding: $padding--0--16;
    min-width: $min-width--240;
    width: $width-full;
    background-color: transparent;
    padding-left: $padding-left--4;
    border: 0;
    flex: 1;
    min-width: 0;
    height: $height--40;
}