.box-search {
    flex-grow: 1;
    height: $height--48;
    border: $border-size-default solid $color-border-dark;
    border-radius: $border-radius--30;
    background-color: $background-color-dark-gray;
    margin: $margin--0--12;

    .udlite-search-form {
        display: flex;
        align-items: center;
        height: $height-full;
        flex-direction: row-reverse;

        .udlite-form-label {
            display: flex;
            align-items: center;
            margin: 0;
            padding-bottom: $padding-bottom--8;
            min-height: $min-height--28;
            position: absolute;
            height: $height--1;
            width: $width--1;
            overflow: hidden;
            clip: $form-label-clip;
        }
    }
}