// Reset style
$h2-line-height: 1.3;
$line-height-default: 1.4;

$font-weight-default:400;

$container-max-witdth: 1200px;
$container-inner-max-width: 1000px;

$dt-margin-bottom: 6px;
$dd-margin-bottom: 26px;

$pre-border-radius: 2px;
$pre-margin-bottom:33px;

$border-radius-sm: 2px;

$select-padding:6px;

* {
  outline: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  font-family: $font-family-basic;
  font-weight: $font-weight-default;
  color: $color-text;
  font-size: $font-size-default;
  line-height: $line-height-default;
  background: $color-white;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  margin: 0;
}

h2 {
  line-height: $h2-line-height;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.container {
  width: 100%;
  max-width: $container-max-witdth;
  margin: 0 auto;
}

.container-inner {
  max-width: $container-inner-max-width;
  margin: 0 auto;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.justyify-center {
  justify-content: center;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }

}

/* general setting
-----------------------------------------------------------*/
dl {
  dt {
    margin-bottom: $dt-margin-bottom;
  }

  dd {
    margin-bottom: $dd-margin-bottom;
  }
}

pre {
  border-radius: $pre-border-radius;
  margin-bottom: $pre-margin-bottom;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

p {
  margin: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  padding: 0;
  margin: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  height: auto;
}

:not(output):-moz-ui-invalid {
  box-shadow: none;
}

:not(output):-moz-ui-invalid:-moz-focusring {
  box-shadow: none;
}

output:-moz-ui-invalid {
  color: none;
}

select {
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  resize: none;
  padding: $select-padding;
  border-radius: $border-radius-sm;
}

.sp {
  display: none !important;
}

@include max-screen($breakpoints-md-sm) {
  .sp {
    display: block !important;
  }

  .pc {
    display: none !important;
  }
}