$letter-spacing--0-2: -0.2px;

$line-height--1-2: 1.2;
$line-height--1-4: 1.4;

.heading-lg {
    font-weight: $font-weight-bold;
    line-height: $line-height--1-2;
    letter-spacing: $letter-spacing--0-2;
    font-size: $font-size--19;
}

.heading-sm {
    font-weight: $font-weight-bold;
    line-height: $line-height--1-2;
    letter-spacing: $letter-spacing--0-2;
    font-size: $font-size-default;
}

.text-md {
    line-height: $line-height--1-4;
    font-size: $font-size--16;
}

.text-secondary {
    color: $color-secondary;
}

.no-underline {
    text-decoration: none
}

.d-flex {
    display: flex;
}



// Font imports and variables