.heading-lg {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.2px;
    font-size: 19px;
}

.heading-sm {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.2px;
    font-size: 14px;
}

// Font imports and variables