// Scss variables (colours etc...)

$breakpoint_min: 320px;
$breakpoint_sp: 767px;
$breakpoint_middle: 1028px;
$breakpoint_pc: $breakpoint_sp+1;
$breakpoint_max: 1920px;

$font-size-normal: 16px;
$font-size-small: 12px;

$colorBlue:#0f7c90;
$colorMain : #3c3b37;
$colorBlack : #000000;
$colorPrimary: #73726c;
$colorWhite: #ffffff;
$colorBorder: #dcdacb;