$color-primary: #eb5252;
$color-secondary: #0f7c90;
$color-bright-blue: #2896a9;
$color-dark-gray: #333333;
$color-light-black: #3c3b37;
$color-dark-black: #1e1e1c;
$color-silver: #989586;
$color-silver-coloured: #73726c;
$color-black : #000000;
$color-white: #ffffff;
$color-light-white: #dcdacb;

//background color
$background-color-dark-gray: #fbfbf8;