//font uses rem
$root-font-size: 16px;

//font uses px
$font-size-sm: 12px;
$font-size-default: 14px;


$font-size--10: 10px;
$font-size--16: 16px;
$font-size--18: 18px;
$font-size--19: 19px;
$font-size--20: 20px;
$font-size--21: 21px;
$font-size--22: 22px;
$font-size--23: 23px;
$font-size--24: 24px;
$font-size--25: 25px;
$font-size--26: 26px;
$font-size--27: 27px;
$font-size--28: 28px;
$font-size--29: 29px;
$font-size--30: 30px;