.p-0 {
    padding: 0
}

.pl-4 {
    padding-left: $spacing--4
}

.pr-4 {
    padding-right: $spacing--4
}

.px-4 {
    @extend .pl-4;
    @extend .pr-4;
}

.pt-4 {
    padding-top: $spacing--4
}

.pb-4 {
    padding-bottom: $spacing--4
}

.py-4 {
    @extend .pt-4;
    @extend .pb-4;
}

.p-4 {
    @extend .pl-4;
    @extend .pr-4;
    @extend .pt-4;
    @extend .pb-4;
}

.pl-8 {
    padding-left: $spacing--8
}

.pr-8 {
    padding-right: $spacing--8
}

.px-8 {
    @extend .pl-8;
    @extend .pr-8;
}

.pt-8 {
    padding-top: $spacing--8
}

.pb-8 {
    padding-bottom: $spacing--8
}

.py-8 {
    @extend .pt-8;
    @extend .pb-8;
}

.p-8 {
    @extend .pl-8;
    @extend .pr-8;
    @extend .pt-8;
    @extend .pb-8;
}

.pl-16 {
    padding-left: $spacing--16
}

.pr-16 {
    padding-right: $spacing--16
}

.px-16 {
    @extend .pl-16;
    @extend .pr-16;
}

.pt-16 {
    padding-top: $spacing--16
}

.pb-16 {
    padding-bottom: $spacing--16
}

.py-16 {
    @extend .pt-16;
    @extend .pb-16;
}

.p-16 {
    @extend .pl-16;
    @extend .pr-16;
    @extend .pt-16;
    @extend .pb-16;
}