// font family
$primary-font: 'Arial',
sans-serif;


// Media Query
$breakpoint-min: 320px;
$breakpoint-sp: 767px;
$breakpoint-middle: 1028px;
$breakpoint-pc: $breakpoint-sp+1;
$breakpoint-max: 1920px;

// spacing 
$spacing-large: 30px;
$spacing-extra: 20px;
$spacing-defauld: 16px;
$spacing--12: 12px;
$spacing--10: 10px;
$spacing--5: 5px;

//border
$border-size-defauld: 1px;
$border-radius-defauld: 5px;