@import './color';
@import './font-size';

// font family
$font-family-basic: sf pro text,
-apple-system,
BlinkMacSystemFont,
Roboto,
segoe ui,
Helvetica,
Arial,
sans-serif,
apple color emoji,
segoe ui emoji,
segoe ui symbol;


// Media Query
$breakpoints-sm: 320px;
$breakpoints-md-sm: 767px;
$breakpoints-md: 1028px;
$breakpoints-lg-md: $breakpoints-md-sm+1;
$breakpoints-lg: 1920px;

// spacing 
$spacing-large: 30px;
$spacing-extra: 20px;
$spacing-default: 16px;
$spacing--12: 12px;
$spacing--10: 10px;
$spacing--5: 5px;

//border
$border-size-default: 1px;
$border-radius-default: 5px;