<div class="course-item <!-- @@var classNames -->">
    <div class="thumb">
        <img src="<!-- @@var thumbnail -->" alt="">
    </div>
    <div class="<!-- @@var classInformation -->">
        <div class="mb-4 mt-8 title-infor">
            <!-- @@var title -->
        </div>
        <div class="mb-4 <!-- @@var classTxtSM -->">
            <!-- @@var author -->
        </div>
        <div class="<!-- @@var classNumberStar -->">
            <span class="<!-- @@var classNumberFirst -->">
                <!-- @@var TextNumberFirst --></span>
            <span class="<!-- @@var classStar -->"></span>
            <span class="ml-4 <!-- @@var classNumberLast -->">
                <!-- @@var TextNumberLast --></span>
        </div>
        <div class="<!-- @@var classPriceText -->">
            <p class="py-4 <!-- @@var classCurrentPrice -->">
                <!-- @@var currentPrice -->
            </p>
            <p class="py-4 mr-8 <!-- @@var classOriginalPrice -->">
                <!-- @@var originalPrice -->
            </p>
        </div>
        <div class="<!-- @@var classBestseller -->">
            <!-- @@var courseStatus -->
        </div>
    </div>
</div>