<div class="<!-- @@var classItemCourses -->">
    <div class="<!-- @@var classThumb -->">
        <img src="<!-- @@var linkImgThumb -->" alt="">
    </div>
    <div class="<!-- @@var classInformation -->">
        <div class="<!-- @@var classTitleInfor -->">
            <!-- @@var TextTitleInfor -->
        </div>
        <div class="<!-- @@var classTxtSM -->">
            <!-- @@var TextSM -->
        </div>
        <div class="<!-- @@var classNumberStar -->">
            <span class="<!-- @@var classNumberFirst -->">
                <!-- @@var TextNumberFirst --></span>
            <span class="<!-- @@var classStar -->"></span>
            <span class="<!-- @@var classNumberLast -->">
                <!-- @@var TextNumberLast --></span>
        </div>
        <div class="<!-- @@var classPriceText -->">
            <p class="<!-- @@var classCurrentPrice -->">
                <!-- @@var TextCurrentPrice -->
            </p>
            <p class="<!-- @@var classOriginalPrice -->">
                <!-- @@var TextOriginalPrice -->
            </p>
        </div>
        <div class="<!-- @@var classBestseller -->">
            <!-- @@var TextBestseller -->
        </div>
    </div>
</div>