<div class="footer-banner">
    <div class="footer-section-banner">
        <div>
            <div class="heading-lg">
                <!-- @@var title -->
            </div>
            <div class="text-md">
                <!-- @@var description -->
            </div>
        </div>
        <div class="banner-button-container">
            <a href="<!-- @@var url -->" class="btn btn-large btn-primary heading-md <!-- @@var classNames -->">
                <span>
                    <!-- @@var buttonValue -->
                </span>
            </a>
        </div>
    </div>
</div>