<div class="footer-banner">
    <div class="footer-section-banner">
        <div>
            <div class="udlite-heading-lg">Teach the world online</div>
            <div class="udlite-text-md">Create an online video course, reach students across
                the globe, and earn money</div>
        </div>
        <div class="banner-button-container"><a href="<!-- @@var linkButton -->"
                class="udlite-btn udlite-btn-large udlite-btn-primary udlite-heading-md <!-- @@var className -->"><span>
                    <!-- @@var txtName --></span></a>
        </div>
    </div>
</div>