<div class="footer-operate">
    <div class="ufb-notice--notice-row--3tUOv">
        <div class="txt">
            <span>Top companies choose
                <a href="https://business.udemy.com/request-demo/?locale=en_US&amp;ref=footer-ad" target="_blank"
                    rel="noopener">Udemy for Business</a> to build in-demand career skills.</span>
        </div>
        <div class="image-operate">
            <img alt="Lyft" height="24" width="34" src="https://s.udemycdn.com/partner-logos/lyft-logo.svg">
            <img alt="adidas" height="24" width="36" src="https://s.udemycdn.com/partner-logos/adidas-logo.svg">
            <img alt="Eventbrite" height="18" width="99" src="https://s.udemycdn.com/partner-logos/eventbrite-logo.svg">
            <img alt="Surveymonkey" height="24" width="157"
                src="https://s.udemycdn.com/partner-logos/surveymonkey-logo.svg">
            <img alt="Booking" height="24" width="140" src="https://s.udemycdn.com/partner-logos/booking-logo.svg">
        </div>
    </div>
</div>