<div class="locale-select-container ud-component--footer--locale-select">
    <div class="form-group">
        <label for="u827-form-group--5" class="sr-only form-label heading-sm">Select locale</label>
        <div class="select-container select-container-small">
            <div class="select-icon left">
                <svg aria-hidden="true" focusable="false" class="icon icon-xsmall icon-color-neutral">
                    <use xlink:href="#icon-language">
                        <svg id="icon-language" viewBox="0 0 24 24">
                            <path
                                d="M11.99 2c-5.52 0-9.99 4.48-9.99 10s4.47 10 9.99 10c5.53 0 10.010-4.48 10.010-10s-4.48-10-10.010-10zM18.92 8h-2.95c-0.32-1.25-0.78-2.45-1.38-3.56 1.84 0.63 3.37 1.91 4.33 3.56zM12 4.040c0.83 1.2 1.48 2.53 1.91 3.96h-3.82c0.43-1.43 1.080-2.76 1.91-3.96zM4.26 14c-0.16-0.64-0.26-1.31-0.26-2s0.1-1.36 0.26-2h3.38c-0.080 0.66-0.14 1.32-0.14 2s0.060 1.34 0.14 2h-3.38zM5.080 16h2.95c0.32 1.25 0.78 2.45 1.38 3.56-1.84-0.63-3.37-1.9-4.33-3.56zM8.030 8h-2.95c0.96-1.66 2.49-2.93 4.33-3.56-0.6 1.11-1.060 2.31-1.38 3.56zM12 19.96c-0.83-1.2-1.48-2.53-1.91-3.96h3.82c-0.43 1.43-1.080 2.76-1.91 3.96zM14.34 14h-4.68c-0.090-0.66-0.16-1.32-0.16-2s0.070-1.35 0.16-2h4.68c0.090 0.65 0.16 1.32 0.16 2s-0.070 1.34-0.16 2zM14.59 19.56c0.6-1.11 1.060-2.31 1.38-3.56h2.95c-0.96 1.65-2.49 2.93-4.33 3.56zM16.36 14c0.080-0.66 0.14-1.32 0.14-2s-0.060-1.34-0.14-2h3.38c0.16 0.64 0.26 1.31 0.26 2s-0.1 1.36-0.26 2h-3.38z">
                            </path>
                        </svg>
                    </use>
                </svg>
            </div>
            <select required="" id="u827-form-group--5" class="select text-sm select-with-icon">
                <option value="en_US">English</option>
                <option value="de_DE">Deutsch</option>
                <option value="es_ES">Español</option>
                <option value="fr_FR">Français</option>
                <option value="id_ID">Bahasa Indonesia</option>
                <option value="it_IT">Italiano</option>
                <option value="ja_JP">日本語</option>
                <option value="ko_KR">한국어</option>
                <option value="nl_NL">Nederlands</option>
                <option value="pl_PL">Polski</option>
                <option value="pt_BR">Português</option>
                <option value="ro_RO">Română</option>
                <option value="ru_RU">Русский</option>
                <option value="th_TH">ภาษาไทย</option>
                <option value="tr_TR">Türkçe</option>
                <option value="zh_CN">中文(简体)</option>
                <option value="zh_TW">中文(繁體)</option>
            </select>
            <div class="select-icon right">
                <svg aria-hidden="true" focusable="false" class="icon icon-small icon-color-neutral">
                    <use xlink:href="#icon-collapse">
                        <svg id="icon-collapse" viewBox="0 0 24 24">
                            <path d="M7.41 15.41l4.59-4.58 4.59 4.58 1.41-1.41-6-6-6 6 1.41 1.41z"></path>
                        </svg>
                    </use>
                </svg>
            </div>
        </div>
    </div>
</div>