<nav class="<!-- @@var classlinkbar -->">
    <ul class="<!-- @@var classUnstyledList -->">
        <li class="<!-- @@var classLinkBarCategory -->">
            <div class="<!-- @@var classTriangleWrapper -->">
                <a class="<!-- @@var classLinkBarNavButton -->" href="/courses/development/">
                    <span class="udlite-text-sm">Development</span>
                </a>
            </div>
        </li>
        <li class="<!-- @@var classLinkBarCategory -->">
            <div class="<!-- @@var classTriangleWrapper -->">
                <a class="<!-- @@var classLinkBarNavButton -->" href="/courses/business/">
                    <span class="udlite-text-sm">Business</span>
                </a>
            </div>
        </li>
        <li class="<!-- @@var classLinkBarCategory -->">
            <div class="<!-- @@var classTriangleWrapper -->">
                <a class="<!-- @@var classLinkBarNavButton -->" href="/courses/it-and-software/">
                    <span class="udlite-text-sm">IT &amp; Software</span>
                </a>
            </div>
        </li>
        <li class="<!-- @@var classLinkBarCategory -->">
            <div class="<!-- @@var classTriangleWrapper -->">
                <a class="<!-- @@var classLinkBarNavButton -->" href="/courses/office-productivity/">
                    <span class="udlite-text-sm">Office Productivity</span>
                </a>
            </div>
        </li>
        <li class="<!-- @@var classLinkBarCategory -->">
            <div class="<!-- @@var classTriangleWrapper -->">
                <a class="<!-- @@var classLinkBarNavButton -->" href="/courses/personal-development/">
                    <span class="udlite-text-sm">Personal Development</span>
                </a>
            </div>
        </li>
        <li class="<!-- @@var classLinkBarCategory -->">
            <div class="<!-- @@var classTriangleWrapper -->">
                <a class="<!-- @@var classLinkBarNavButton -->" href="/courses/design/">
                    <span class="udlite-text-sm">Design</span>
                </a>
            </div>
        </li>
        <li class="<!-- @@var classLinkBarCategory -->">
            <div class="<!-- @@var classTriangleWrapper -->">
                <a class="<!-- @@var classLinkBarNavButton -->" href="/courses/marketing/">
                    <span class="udlite-text-sm">Marketing</span>
                </a>
            </div>
        </li>
        <li class="<!-- @@var classLinkBarCategory -->">
            <div class="<!-- @@var classTriangleWrapper -->">
                <a class="<!-- @@var classLinkBarNavButton -->" href="/courses/health-and-fitness/">
                    <span class="udlite-text-sm">Health &amp; Fitness</span>
                </a>
            </div>
        </li>
        <li class="<!-- @@var classLinkBarCategory -->">
            <div class="<!-- @@var classTriangleWrapper -->">
                <a class="<!-- @@var classLinkBarNavButton -->" href="/courses/music/">
                    <span class="udlite-text-sm">Music</span>
                </a>
            </div>
        </li>
    </ul>
</nav>