<div class="<!-- @@var classComponentMargin -->">
    <div class="<!-- @@var classUnitTitleH2 -->">
        <h2 class="<!-- @@var classTitleH2 -->">Students are viewing
        </h2>
    </div>
    <div class="<!-- @@var classTopCourses -->">
        <div class="<!-- @@var classItemCourses -->">
            <div class="<!-- @@var classThumb -->">
                <img src="https://img-a.udemycdn.com/course/240x135/1653432_3a57_3.jpg" alt="">
            </div>
            <div class="<!-- @@var classInformation -->">
                <div class="<!-- @@var classTitleInfor -->">The Business Intelligence Analyst Course 2020</div>
                <div class="<!-- @@var classTxtSM -->">365 Careers</div>
                <div class="<!-- @@var classNumberStar -->">
                    <span class="<!-- @@var classNumberFirst -->">4.5</span>
                    <span class="<!-- @@var classStar -->"></span>
                    <span class="<!-- @@var classNumberLast -->">(24,133)</span>
                </div>
                <div class="<!-- @@var classPriceText -->">
                    <p class="<!-- @@var classCurrentPrice -->">$11.99</p>
                    <p class="<!-- @@var classOriginalPrice -->">$129.99</p>
                </div>
                <div class="<!-- @@var classBestseller -->">Bestseller</div>
            </div>
        </div>
        <div class="<!-- @@var classItemCourses -->">
            <div class="<!-- @@var classThumb -->">
                <img src="https://img-a.udemycdn.com/course/240x135/684272_10c0_5.jpg" alt="">
            </div>
            <div class="<!-- @@var classInformation -->">
                <div class="<!-- @@var classTitleInfor -->">IELTS Band 7+ Complete Prep Course</div>
                <div class="<!-- @@var classTxtSM -->">Keino Campbell, Esq.</div>
                <div class="<!-- @@var classNumberStar -->">
                    <span class="<!-- @@var classNumberFirst -->">4.5</span>
                    <span class="<!-- @@var classStar -->"></span>
                    <span class="<!-- @@var classNumberLast -->">(17,227)</span>
                </div>
                <div class="<!-- @@var classPriceText -->">
                    <p class="<!-- @@var classCurrentPrice -->">$11.99</p>
                    <p class="<!-- @@var classOriginalPrice -->">$129.99</p>
                </div>
                <div class="<!-- @@var classBestseller -->">Bestseller</div>
            </div>
        </div>
        <div class="<!-- @@var classItemCourses -->">
            <div class="<!-- @@var classThumb -->">
                <img src="https://img-a.udemycdn.com/course/240x135/1778502_f4b9_11.jpg" alt="">
            </div>
            <div class="<!-- @@var classInformation -->">
                <div class="<!-- @@var classTitleInfor -->">Microservices with Node JS and React</div>
                <div class="<!-- @@var classTxtSM -->">Stephen Grider</div>
                <div class="<!-- @@var classNumberStar -->">
                    <span class="<!-- @@var classNumberFirst -->">4.8</span>
                    <span class="<!-- @@var classStar -->"></span>
                    <span class="<!-- @@var classNumberLast -->">(3,137)</span>
                </div>
                <div class="<!-- @@var classPriceText -->">
                    <p class="<!-- @@var classCurrentPrice -->">$11.99</p>
                    <p class="<!-- @@var classOriginalPrice -->">$129.99</p>
                </div>
                <div class="<!-- @@var classBestseller -->">Bestseller</div>
            </div>
        </div>
        <div class="<!-- @@var classItemCourses -->">
            <div class="<!-- @@var classThumb -->">
                <img src="https://img-a.udemycdn.com/course/480x270/1203374_6d6f_3.jpg" alt="">
            </div>
            <div class="<!-- @@var classInformation -->">
                <div class="<!-- @@var classTitleInfor -->">Microservices with Node JS and React</div>
                <div class="<!-- @@var classTxtSM -->">Stephen Grider</div>
                <div class="<!-- @@var classNumberStar -->">
                    <span class="<!-- @@var classNumberFirst -->">4.8</span>
                    <span class="<!-- @@var classStar -->"></span>
                    <span class="<!-- @@var classNumberLast -->">(3,137)</span>
                </div>
                <div class="<!-- @@var classPriceText -->">
                    <p class="<!-- @@var classCurrentPrice -->">$11.99</p>
                    <p class="<!-- @@var classOriginalPrice -->">$129.99</p>
                </div>
                <div class="<!-- @@var classBestseller -->">Bestseller</div>
            </div>
        </div>
        <div class="<!-- @@var classItemCourses -->">
            <div class="<!-- @@var classThumb -->">
                <img src="https://img-a.udemycdn.com/course/240x135/567828_67d0.jpg" alt="">
            </div>
            <div class="<!-- @@var classInformation -->">
                <div class="<!-- @@var classTitleInfor -->">Microservices with Node JS and React</div>
                <div class="<!-- @@var classTxtSM -->">Stephen Grider</div>
                <div class="<!-- @@var classNumberStar -->">
                    <span class="<!-- @@var classNumberFirst -->">4.8</span>
                    <span class="<!-- @@var classStar -->"></span>
                    <span class="<!-- @@var classNumberLast -->">(3,137)</span>
                </div>
                <div class="<!-- @@var classPriceText -->">
                    <p class="<!-- @@var classCurrentPrice -->">$11.99</p>
                    <p class="<!-- @@var classOriginalPrice -->">$129.99</p>
                </div>
                <div class="<!-- @@var classBestseller -->">Bestseller</div>
            </div>
        </div>
        <div class="<!-- @@var classItemCourses -->">
            <div class="<!-- @@var classThumb -->">
                <img src="https://img-a.udemycdn.com/course/240x135/2887266_c696_5.jpg" alt="">
            </div>
            <div class="<!-- @@var classInformation -->">
                <div class="<!-- @@var classTitleInfor -->">Microservices with Node JS and React</div>
                <div class="<!-- @@var classTxtSM -->">Stephen Grider</div>
                <div class="<!-- @@var classNumberStar -->">
                    <span class="<!-- @@var classNumberFirst -->">4.8</span>
                    <span class="<!-- @@var classStar -->"></span>
                    <span class="<!-- @@var classNumberLast -->">(3,137)</span>
                </div>
                <div class="<!-- @@var classPriceText -->">
                    <p class="<!-- @@var classCurrentPrice -->">$11.99</p>
                    <p class="<!-- @@var classOriginalPrice -->">$129.99</p>
                </div>
                <div class="<!-- @@var classBestseller -->">Bestseller</div>
            </div>
        </div>
    </div>
</div>