<div class="<!-- @@var classComponentMargin -->">
    <div class="<!-- @@var classUnitTitleH2 -->">
        <h2 class="<!-- @@var classTitleH2 -->">Top courses in
            <a href="/courses/development/web-development/">Web Development</a>
        </h2>
    </div>
    <div class="carousel--container--22Ab7">
        <div id="course-unit-container-TopcoursesinWebDevelopment" class="">
            <div class="carousel--scroll-item">
                <div>
                    <div class="popover--popover--t3rNO popover--popover-hover--14ngr">
                        <div>
                            <a href="/course/microservices-with-node-js-and-react/" class="">
                                <div class="<!-- @@var classctnInner -->">
                                    <div class="<!-- @@var classThumbImg -->">
                                        <img alt="" width="240" height="135"
                                            class="course-card--course-image--2sjYP course-card-link--image--13Grk"
                                            src="https://img-a.udemycdn.com/course/240x135/2887266_c696_5.jpg">
                                    </div>
                                    <div class="<!-- @@var classinformation -->">
                                        <div class="udlite-heading-md course-card--course-title">
                                            Microservices with Node JS and React
                                        </div>
                                        <div class="udlite-text-xs course-card--instructor-list--lIA4f">Stephen Grider
                                        </div>
                                        <div class="course-card--row--1OMjg">
                                            <span class="star-rating--star-wrapper--2eczq">
                                                <span class="udlite-sr-only">Rating: 4.8 out of 5</span>
                                                <span
                                                    class="udlite-heading-sm star-rating--rating-number--3lVe8">4.8</span>
                                            </span>
                                            <span class="udlite-text-xs course-card--reviews-text--12UpL">(3,137)</span>
                                        </div>
                                        <div
                                            class="price-text--container--Ws-fP course-card--price-text-container--2sb8G">
                                            <div
                                                class="price-text--price-part--Tu6MH course-card--discount-price--3TaBk udlite-heading-md">
                                                <span class="udlite-sr-only">Current
                                                    price</span><span><span>$11.99</span></span></div>
                                            <div
                                                class="price-text--price-part--Tu6MH price-text--original-price--2e-F5 course-card--list-price--2AO6G udlite-text-sm">
                                                <div><span class="udlite-sr-only">Original
                                                        Price</span><span><s><span>$129.99</span></s></span></div>
                                            </div>
                                        </div>
                                        <div class="udlite-badge udlite-heading-xs udlite-badge-bestseller ">Bestseller
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div data-index="1" class="carousel--scroll-item--3Wciz">
                <div>
                    <div class="popover--popover--t3rNO popover--popover-hover--14ngr">
                        <div><a id="u125-popover-trigger--56" tabindex="0" aria-haspopup="true" aria-expanded="false"
                                aria-controls="u125-popover-content--57" href="/course/go-programming-language/"
                                class="udlite-custom-focus-visible course-card-link--link--3uQEZ">
                                <div data-purpose="container"
                                    class="course-card--container--3w8Zm course-card--medium--iRtVR">
                                    <div class="course-card--image-wrapper--Sxd90"><img alt="" width="240" height="135"
                                            class="course-card--course-image--2sjYP course-card-link--image--13Grk"
                                            src="https://img-a.udemycdn.com/course/240x135/1002030_f3e0_5.jpg"
                                            srcset="https://img-a.udemycdn.com/course/240x135/1002030_f3e0_5.jpg 1x, https://img-a.udemycdn.com/course/480x270/1002030_f3e0_5.jpg 2x">
                                    </div>
                                    <div class="course-card--main-content--3xEIw course-card--has-price-text--1Ikr0">
                                        <div
                                            class="udlite-focus-visible-target udlite-heading-md course-card--course-title--2f7tE">
                                            Web Development w/ Google’s Go (golang) Programming Language</div>
                                        <div class="udlite-text-xs course-card--instructor-list--lIA4f"
                                            data-purpose="safely-set-inner-html:course-card:visible-instructors">Todd
                                            McLeod</div>
                                        <div class="course-card--row--1OMjg"><span
                                                class="star-rating--star-wrapper--2eczq"><span
                                                    class="udlite-sr-only">Rating: 4.6 out of 5</span><span
                                                    class="udlite-heading-sm star-rating--rating-number--3lVe8"
                                                    aria-hidden="true" data-purpose="rating-number">4.6</span><svg
                                                    aria-hidden="true" width="100%" height="100%" viewBox="0 0 70 14"
                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <mask id="u125-star-rating-mask--58"
                                                        data-purpose="star-rating-mask">
                                                        <rect x="0" y="0" width="90%" height="100%" fill="white"></rect>
                                                    </mask>
                                                    <g class="star-rating--star-filled--3D4Ee"
                                                        mask="url(#u125-star-rating-mask--58)"
                                                        data-purpose="star-filled">
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="0"></use>
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="14"></use>
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="28"></use>
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="42"></use>
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="56"></use>
                                                    </g>
                                                    <g fill="transparent" class="star-rating--star-bordered--2QFon"
                                                        stroke-width="2" data-purpose="star-bordered">
                                                        <use xlink:href="#icon-rating-star" width="12" height="12" x="1"
                                                            y="1"></use>
                                                        <use xlink:href="#icon-rating-star" width="12" height="12"
                                                            x="15" y="1"></use>
                                                        <use xlink:href="#icon-rating-star" width="12" height="12"
                                                            x="29" y="1"></use>
                                                        <use xlink:href="#icon-rating-star" width="12" height="12"
                                                            x="43" y="1"></use>
                                                        <use xlink:href="#icon-rating-star" width="12" height="12"
                                                            x="57" y="1"></use>
                                                    </g>
                                                </svg></span><span aria-label="5,120 reviews"
                                                class="udlite-text-xs course-card--reviews-text--12UpL">(5,120)</span>
                                        </div>
                                        <div class="price-text--container--Ws-fP course-card--price-text-container--2sb8G"
                                            data-purpose="price-text-container">
                                            <div class="price-text--price-part--Tu6MH course-card--discount-price--3TaBk udlite-heading-md"
                                                data-purpose="course-price-text"><span class="udlite-sr-only">Current
                                                    price</span><span><span>$11.99</span></span></div>
                                            <div class="price-text--price-part--Tu6MH price-text--original-price--2e-F5 course-card--list-price--2AO6G udlite-text-sm"
                                                data-purpose="original-price-container">
                                                <div data-purpose="course-old-price-text"><span
                                                        class="udlite-sr-only">Original
                                                        Price</span><span><s><span>$64.99</span></s></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
            <div data-index="2" class="carousel--scroll-item--3Wciz">
                <div>
                    <div class="popover--popover--t3rNO popover--popover-hover--14ngr">
                        <div><a id="u125-popover-trigger--59" tabindex="0" aria-haspopup="true" aria-expanded="false"
                                aria-controls="u125-popover-content--60" href="/course/advanced-css-and-sass/"
                                class="udlite-custom-focus-visible course-card-link--link--3uQEZ">
                                <div data-purpose="container"
                                    class="course-card--container--3w8Zm course-card--medium--iRtVR">
                                    <div class="course-card--image-wrapper--Sxd90"><img alt="" width="240" height="135"
                                            class="course-card--course-image--2sjYP course-card-link--image--13Grk"
                                            src="https://img-a.udemycdn.com/course/240x135/1026604_790b_2.jpg"
                                            srcset="https://img-a.udemycdn.com/course/240x135/1026604_790b_2.jpg 1x, https://img-a.udemycdn.com/course/480x270/1026604_790b_2.jpg 2x">
                                    </div>
                                    <div class="course-card--main-content--3xEIw course-card--has-price-text--1Ikr0">
                                        <div
                                            class="udlite-focus-visible-target udlite-heading-md course-card--course-title--2f7tE">
                                            Advanced CSS and Sass: Flexbox, Grid, Animations and More!</div>
                                        <div class="udlite-text-xs course-card--instructor-list--lIA4f"
                                            data-purpose="safely-set-inner-html:course-card:visible-instructors">Jonas
                                            Schmedtmann</div>
                                        <div class="course-card--row--1OMjg"><span
                                                class="star-rating--star-wrapper--2eczq"><span
                                                    class="udlite-sr-only">Rating: 4.8 out of 5</span><span
                                                    class="udlite-heading-sm star-rating--rating-number--3lVe8"
                                                    aria-hidden="true" data-purpose="rating-number">4.8</span><svg
                                                    aria-hidden="true" width="100%" height="100%" viewBox="0 0 70 14"
                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <mask id="u125-star-rating-mask--61"
                                                        data-purpose="star-rating-mask">
                                                        <rect x="0" y="0" width="100%" height="100%" fill="white">
                                                        </rect>
                                                    </mask>
                                                    <g class="star-rating--star-filled--3D4Ee"
                                                        mask="url(#u125-star-rating-mask--61)"
                                                        data-purpose="star-filled">
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="0"></use>
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="14"></use>
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="28"></use>
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="42"></use>
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="56"></use>
                                                    </g>
                                                    <g fill="transparent" class="star-rating--star-bordered--2QFon"
                                                        stroke-width="2" data-purpose="star-bordered">
                                                        <use xlink:href="#icon-rating-star" width="12" height="12" x="1"
                                                            y="1"></use>
                                                        <use xlink:href="#icon-rating-star" width="12" height="12"
                                                            x="15" y="1"></use>
                                                        <use xlink:href="#icon-rating-star" width="12" height="12"
                                                            x="29" y="1"></use>
                                                        <use xlink:href="#icon-rating-star" width="12" height="12"
                                                            x="43" y="1"></use>
                                                        <use xlink:href="#icon-rating-star" width="12" height="12"
                                                            x="57" y="1"></use>
                                                    </g>
                                                </svg></span><span aria-label="24,737 reviews"
                                                class="udlite-text-xs course-card--reviews-text--12UpL">(24,737)</span>
                                        </div>
                                        <div class="price-text--container--Ws-fP course-card--price-text-container--2sb8G"
                                            data-purpose="price-text-container">
                                            <div class="price-text--price-part--Tu6MH course-card--discount-price--3TaBk udlite-heading-md"
                                                data-purpose="course-price-text"><span class="udlite-sr-only">Current
                                                    price</span><span><span>$11.99</span></span></div>
                                            <div class="price-text--price-part--Tu6MH price-text--original-price--2e-F5 course-card--list-price--2AO6G udlite-text-sm"
                                                data-purpose="original-price-container">
                                                <div data-purpose="course-old-price-text"><span
                                                        class="udlite-sr-only">Original
                                                        Price</span><span><s><span>$129.99</span></s></span></div>
                                            </div>
                                        </div>
                                        <div class="udlite-badge udlite-heading-xs udlite-badge-bestseller ">Bestseller
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
            <div data-index="3" class="carousel--scroll-item--3Wciz">
                <div>
                    <div class="popover--popover--t3rNO popover--popover-hover--14ngr">
                        <div><a id="u125-popover-trigger--62" tabindex="0" aria-haspopup="true" aria-expanded="false"
                                aria-controls="u125-popover-content--63"
                                href="/course/modern-javascript-from-the-beginning/"
                                class="udlite-custom-focus-visible course-card-link--link--3uQEZ">
                                <div data-purpose="container"
                                    class="course-card--container--3w8Zm course-card--medium--iRtVR">
                                    <div class="course-card--image-wrapper--Sxd90"><img alt="" width="240" height="135"
                                            class="course-card--course-image--2sjYP course-card-link--image--13Grk"
                                            src="https://img-a.udemycdn.com/course/240x135/1463348_52a4_2.jpg"
                                            srcset="https://img-a.udemycdn.com/course/240x135/1463348_52a4_2.jpg 1x, https://img-a.udemycdn.com/course/480x270/1463348_52a4_2.jpg 2x">
                                    </div>
                                    <div class="course-card--main-content--3xEIw course-card--has-price-text--1Ikr0">
                                        <div
                                            class="udlite-focus-visible-target udlite-heading-md course-card--course-title--2f7tE">
                                            Modern JavaScript From The Beginning</div>
                                        <div class="udlite-text-xs course-card--instructor-list--lIA4f"
                                            data-purpose="safely-set-inner-html:course-card:visible-instructors">Brad
                                            Traversy</div>
                                        <div class="course-card--row--1OMjg"><span
                                                class="star-rating--star-wrapper--2eczq"><span
                                                    class="udlite-sr-only">Rating: 4.7 out of 5</span><span
                                                    class="udlite-heading-sm star-rating--rating-number--3lVe8"
                                                    aria-hidden="true" data-purpose="rating-number">4.7</span><svg
                                                    aria-hidden="true" width="100%" height="100%" viewBox="0 0 70 14"
                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <mask id="u125-star-rating-mask--64"
                                                        data-purpose="star-rating-mask">
                                                        <rect x="0" y="0" width="90%" height="100%" fill="white"></rect>
                                                    </mask>
                                                    <g class="star-rating--star-filled--3D4Ee"
                                                        mask="url(#u125-star-rating-mask--64)"
                                                        data-purpose="star-filled">
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="0"></use>
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="14"></use>
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="28"></use>
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="42"></use>
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="56"></use>
                                                    </g>
                                                    <g fill="transparent" class="star-rating--star-bordered--2QFon"
                                                        stroke-width="2" data-purpose="star-bordered">
                                                        <use xlink:href="#icon-rating-star" width="12" height="12" x="1"
                                                            y="1"></use>
                                                        <use xlink:href="#icon-rating-star" width="12" height="12"
                                                            x="15" y="1"></use>
                                                        <use xlink:href="#icon-rating-star" width="12" height="12"
                                                            x="29" y="1"></use>
                                                        <use xlink:href="#icon-rating-star" width="12" height="12"
                                                            x="43" y="1"></use>
                                                        <use xlink:href="#icon-rating-star" width="12" height="12"
                                                            x="57" y="1"></use>
                                                    </g>
                                                </svg></span><span aria-label="21,043 reviews"
                                                class="udlite-text-xs course-card--reviews-text--12UpL">(21,043)</span>
                                        </div>
                                        <div class="price-text--container--Ws-fP course-card--price-text-container--2sb8G"
                                            data-purpose="price-text-container">
                                            <div class="price-text--price-part--Tu6MH course-card--discount-price--3TaBk udlite-heading-md"
                                                data-purpose="course-price-text"><span class="udlite-sr-only">Current
                                                    price</span><span><span>$13.99</span></span></div>
                                            <div class="price-text--price-part--Tu6MH price-text--original-price--2e-F5 course-card--list-price--2AO6G udlite-text-sm"
                                                data-purpose="original-price-container">
                                                <div data-purpose="course-old-price-text"><span
                                                        class="udlite-sr-only">Original
                                                        Price</span><span><s><span>$149.99</span></s></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
            <div data-index="4" class="carousel--scroll-item--3Wciz">
                <div>
                    <div class="popover--popover--t3rNO popover--popover-hover--14ngr">
                        <div><a id="u125-popover-trigger--65" tabindex="0" aria-haspopup="true" aria-expanded="false"
                                aria-controls="u125-popover-content--66"
                                href="/course/become-a-wordpress-developer-php-javascript/"
                                class="udlite-custom-focus-visible course-card-link--link--3uQEZ">
                                <div data-purpose="container"
                                    class="course-card--container--3w8Zm course-card--medium--iRtVR">
                                    <div class="course-card--image-wrapper--Sxd90"><img alt="" width="240" height="135"
                                            class="course-card--course-image--2sjYP course-card-link--image--13Grk"
                                            src="https://img-a.udemycdn.com/course/240x135/1010586_b622_3.jpg"
                                            srcset="https://img-a.udemycdn.com/course/240x135/1010586_b622_3.jpg 1x, https://img-a.udemycdn.com/course/480x270/1010586_b622_3.jpg 2x">
                                    </div>
                                    <div class="course-card--main-content--3xEIw course-card--has-price-text--1Ikr0">
                                        <div
                                            class="udlite-focus-visible-target udlite-heading-md course-card--course-title--2f7tE">
                                            Become a WordPress Developer: Unlocking Power With Code</div>
                                        <div class="udlite-text-xs course-card--instructor-list--lIA4f"
                                            data-purpose="safely-set-inner-html:course-card:visible-instructors">Brad
                                            Schiff</div>
                                        <div class="course-card--row--1OMjg"><span
                                                class="star-rating--star-wrapper--2eczq"><span
                                                    class="udlite-sr-only">Rating: 4.7 out of 5</span><span
                                                    class="udlite-heading-sm star-rating--rating-number--3lVe8"
                                                    aria-hidden="true" data-purpose="rating-number">4.7</span><svg
                                                    aria-hidden="true" width="100%" height="100%" viewBox="0 0 70 14"
                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <mask id="u125-star-rating-mask--67"
                                                        data-purpose="star-rating-mask">
                                                        <rect x="0" y="0" width="90%" height="100%" fill="white"></rect>
                                                    </mask>
                                                    <g class="star-rating--star-filled--3D4Ee"
                                                        mask="url(#u125-star-rating-mask--67)"
                                                        data-purpose="star-filled">
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="0"></use>
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="14"></use>
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="28"></use>
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="42"></use>
                                                        <use xlink:href="#icon-rating-star" width="14" height="14"
                                                            x="56"></use>
                                                    </g>
                                                    <g fill="transparent" class="star-rating--star-bordered--2QFon"
                                                        stroke-width="2" data-purpose="star-bordered">
                                                        <use xlink:href="#icon-rating-star" width="12" height="12" x="1"
                                                            y="1"></use>
                                                        <use xlink:href="#icon-rating-star" width="12" height="12"
                                                            x="15" y="1"></use>
                                                        <use xlink:href="#icon-rating-star" width="12" height="12"
                                                            x="29" y="1"></use>
                                                        <use xlink:href="#icon-rating-star" width="12" height="12"
                                                            x="43" y="1"></use>
                                                        <use xlink:href="#icon-rating-star" width="12" height="12"
                                                            x="57" y="1"></use>
                                                    </g>
                                                </svg></span><span aria-label="11,741 reviews"
                                                class="udlite-text-xs course-card--reviews-text--12UpL">(11,741)</span>
                                        </div>
                                        <div class="price-text--container--Ws-fP course-card--price-text-container--2sb8G"
                                            data-purpose="price-text-container">
                                            <div class="price-text--price-part--Tu6MH course-card--discount-price--3TaBk udlite-heading-md"
                                                data-purpose="course-price-text"><span class="udlite-sr-only">Current
                                                    price</span><span><span>$11.99</span></span></div>
                                            <div class="price-text--price-part--Tu6MH price-text--original-price--2e-F5 course-card--list-price--2AO6G udlite-text-sm"
                                                data-purpose="original-price-container">
                                                <div data-purpose="course-old-price-text"><span
                                                        class="udlite-sr-only">Original
                                                        Price</span><span><s><span>$129.99</span></s></span></div>
                                            </div>
                                        </div>
                                        <div class="udlite-badge udlite-heading-xs udlite-badge-bestseller ">Bestseller
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
            <div data-index="5" class="carousel--scroll-item--3Wciz">
                <div><svg aria-label="Loading" focusable="false"
                        class="udlite-icon udlite-icon-small udlite-icon-color-neutral udlite-loader">
                        <use xlink:href="#icon-loading-spinner"></use>
                    </svg></div>
            </div>
            <div data-index="6" class="carousel--scroll-item--3Wciz">
                <div><svg aria-label="Loading" focusable="false"
                        class="udlite-icon udlite-icon-small udlite-icon-color-neutral udlite-loader">
                        <use xlink:href="#icon-loading-spinner"></use>
                    </svg></div>
            </div>
            <div data-index="7" class="carousel--scroll-item--3Wciz">
                <div><svg aria-label="Loading" focusable="false"
                        class="udlite-icon udlite-icon-small udlite-icon-color-neutral udlite-loader">
                        <use xlink:href="#icon-loading-spinner"></use>
                    </svg></div>
            </div>
            <div data-index="8" class="carousel--scroll-item--3Wciz">
                <div><svg aria-label="Loading" focusable="false"
                        class="udlite-icon udlite-icon-small udlite-icon-color-neutral udlite-loader">
                        <use xlink:href="#icon-loading-spinner"></use>
                    </svg></div>
            </div>
            <div data-index="9" class="carousel--scroll-item--3Wciz">
                <div><svg aria-label="Loading" focusable="false"
                        class="udlite-icon udlite-icon-small udlite-icon-color-neutral udlite-loader">
                        <use xlink:href="#icon-loading-spinner"></use>
                    </svg></div>
            </div>
            <div data-index="10" class="carousel--scroll-item--3Wciz">
                <div><svg aria-label="Loading" focusable="false"
                        class="udlite-icon udlite-icon-small udlite-icon-color-neutral udlite-loader">
                        <use xlink:href="#icon-loading-spinner"></use>
                    </svg></div>
            </div>
            <div data-index="11" class="carousel--scroll-item--3Wciz">
                <div><svg aria-label="Loading" focusable="false"
                        class="udlite-icon udlite-icon-small udlite-icon-color-neutral udlite-loader">
                        <use xlink:href="#icon-loading-spinner"></use>
                    </svg></div>
            </div>
        </div><button type="button"
            class="udlite-btn udlite-btn-large udlite-btn-secondary udlite-heading-md udlite-btn-disabled udlite-btn-icon udlite-btn-icon-large udlite-btn-icon-round course-unit--pager-button--2mlVF carousel--button--21JBZ carousel--prev-button--9lBgG"
            data-pager-type="prev" disabled="" tabindex="-1"><svg aria-label="Previous" focusable="false"
                class="udlite-icon udlite-icon-large">
                <use xlink:href="#icon-previous"></use>
            </svg></button><button type="button"
            class="udlite-btn udlite-btn-large udlite-btn-secondary udlite-heading-md udlite-btn-icon udlite-btn-icon-large udlite-btn-icon-round course-unit--pager-button--2mlVF carousel--button--21JBZ carousel--next-button--3LJyN"
            data-pager-type="next"><svg aria-label="Next" focusable="false" class="udlite-icon udlite-icon-large">
                <use xlink:href="#icon-next"></use>
            </svg></button> -->
        </div>
    </div>
</div>