<div class="<!-- @@var classComponentMargin -->">
    <div class="<!-- @@var classUnitTitleH2 -->">
        <h2 class="<!-- @@var classTitleH2 -->">Top courses in
            <a href="/courses/development/web-development/">Web Development</a>
        </h2>
    </div>
    <div class="<!-- @@var classTopCourses -->">
        <div class="<!-- @@var classItemCourses -->">
            <div class="<!-- @@var classThumb -->">
                <img src="https://img-a.udemycdn.com/course/240x135/2887266_c696_5.jpg" alt="">
            </div>
            <div class="<!-- @@var classInformation -->">
                <div class="<!-- @@var classTitleInfor -->">Microservices with Node JS and React</div>
                <div class="<!-- @@var classTxtSM -->">Stephen Grider</div>
                <div class="<!-- @@var classNumberStar -->">
                    <span class="<!-- @@var classNumberFirst -->">4.8</span>
                    <span class="<!-- @@var classStar -->"></span>
                    <span class="<!-- @@var classNumberLast -->">(3,137)</span>
                </div>
                <div class="<!-- @@var classPriceText -->">
                    <p class="<!-- @@var classCurrentPrice -->">$11.99</p>
                    <p class="<!-- @@var classOriginalPrice -->">$129.99</p>
                </div>
                <div class="<!-- @@var classBestseller -->">Bestseller</div>
            </div>
        </div>
        <div class="<!-- @@var classItemCourses -->">
            <div class="<!-- @@var classThumb -->">
                <img src="https://img-a.udemycdn.com/course/240x135/1026604_790b_2.jpg" alt="">
            </div>
            <div class="<!-- @@var classInformation -->">
                <div class="<!-- @@var classTitleInfor -->">Advanced CSS and Sass: Flexbox, Grid, Animations and More!
                </div>
                <div class="<!-- @@var classTxtSM -->">Stephen Grider</div>
                <div class="<!-- @@var classNumberStar -->">
                    <span class="<!-- @@var classNumberFirst -->">4.8</span>
                    <span class="<!-- @@var classStar -->"></span>
                    <span class="<!-- @@var classNumberLast -->">(3,137)</span>
                </div>
                <div class="<!-- @@var classPriceText -->">
                    <p class="<!-- @@var classCurrentPrice -->">$11.99</p>
                    <p class="<!-- @@var classOriginalPrice -->">$129.99</p>
                </div>
                <div class="<!-- @@var classBestseller -->">Bestseller</div>
            </div>
        </div>
        <div class="<!-- @@var classItemCourses -->">
            <div class="<!-- @@var classThumb -->">
                <img src="https://img-a.udemycdn.com/course/480x270/1463348_52a4_2.jpg" alt="">
            </div>
            <div class="<!-- @@var classInformation -->">
                <div class="<!-- @@var classTitleInfor -->">Modern JavaScript From The Beginning</div>
                <div class="<!-- @@var classTxtSM -->">Stephen Grider</div>
                <div class="<!-- @@var classNumberStar -->">
                    <span class="<!-- @@var classNumberFirst -->">4.8</span>
                    <span class="<!-- @@var classStar -->"></span>
                    <span class="<!-- @@var classNumberLast -->">(3,137)</span>
                </div>
                <div class="<!-- @@var classPriceText -->">
                    <p class="<!-- @@var classCurrentPrice -->">$11.99</p>
                    <p class="<!-- @@var classOriginalPrice -->">$129.99</p>
                </div>
                <div class="<!-- @@var classBestseller -->">Bestseller</div>
            </div>
        </div>
        <div class="<!-- @@var classItemCourses -->">
            <div class="<!-- @@var classThumb -->">
                <img src="https://img-a.udemycdn.com/course/240x135/1010586_b622_3.jpg" alt="">
            </div>
            <div class="<!-- @@var classInformation -->">
                <div class="<!-- @@var classTitleInfor -->">Become a WordPress Developer: Unlocking Power With Code
                </div>
                <div class="<!-- @@var classTxtSM -->">Stephen Grider</div>
                <div class="<!-- @@var classNumberStar -->">
                    <span class="<!-- @@var classNumberFirst -->">4.8</span>
                    <span class="<!-- @@var classStar -->"></span>
                    <span class="<!-- @@var classNumberLast -->">(3,137)</span>
                </div>
                <div class="<!-- @@var classPriceText -->">
                    <p class="<!-- @@var classCurrentPrice -->">$11.99</p>
                    <p class="<!-- @@var classOriginalPrice -->">$129.99</p>
                </div>
                <div class="<!-- @@var classBestseller -->">Bestseller</div>
            </div>
        </div>
        <div class="<!-- @@var classItemCourses -->">
            <div class="<!-- @@var classThumb -->">
                <img src="https://img-a.udemycdn.com/course/240x135/1470810_a8b0.jpg" alt="">
            </div>
            <div class="<!-- @@var classInformation -->">
                <div class="<!-- @@var classTitleInfor -->">The Modern JavaScript Bootcamp</div>
                <div class="<!-- @@var classTxtSM -->">Stephen Grider</div>
                <div class="<!-- @@var classNumberStar -->">
                    <span class="<!-- @@var classNumberFirst -->">4.8</span>
                    <span class="<!-- @@var classStar -->"></span>
                    <span class="<!-- @@var classNumberLast -->">(3,137)</span>
                </div>
                <div class="<!-- @@var classPriceText -->">
                    <p class="<!-- @@var classCurrentPrice -->">$11.99</p>
                    <p class="<!-- @@var classOriginalPrice -->">$129.99</p>
                </div>
                <div class="<!-- @@var classBestseller -->">Bestseller</div>
            </div>
        </div>
        <div class="<!-- @@var classItemCourses -->">
            <div class="<!-- @@var classThumb -->">
                <img src="https://img-a.udemycdn.com/course/240x135/1672410_9ff1_5.jpg" alt="">
            </div>
            <div class="<!-- @@var classInformation -->">
                <div class="<!-- @@var classTitleInfor -->">Node.js, Express, MongoDB & More: The Complete Bootcamp 2020
                </div>
                <div class="<!-- @@var classTxtSM -->">Stephen Grider</div>
                <div class="<!-- @@var classNumberStar -->">
                    <span class="<!-- @@var classNumberFirst -->">4.8</span>
                    <span class="<!-- @@var classStar -->"></span>
                    <span class="<!-- @@var classNumberLast -->">(3,137)</span>
                </div>
                <div class="<!-- @@var classPriceText -->">
                    <p class="<!-- @@var classCurrentPrice -->">$11.99</p>
                    <p class="<!-- @@var classOriginalPrice -->">$129.99</p>
                </div>
                <div class="<!-- @@var classBestseller -->">Bestseller</div>
            </div>
        </div>
    </div>
</div>